# ========== Unity用.gitignore ==========

# Unityビルド、キャッシュ系フォルダ
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
[Rr]ecordings/

# Unityクラッシュレポート系
sysinfo.txt

# JetBrains Rider
[Aa]ssets/Plugins/Editor/JetBrains*

# Visual Studio / Rider / Consulo 関連
.vs/
.gradle/
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# .metaファイル生成物
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Unityパッケージ・バイナリ・ビルド系
*.apk
*.aab
*.unitypackage
*.unitypackage.meta
*.app

# Crashlytics系
crashlytics-build.properties

# Addressables（バイナリの実体のみ）
Assets/AddressableAssetsData/*/*.bin*
Assets/StreamingAssets/aa.meta
Assets/StreamingAssets/aa/*

# Asset Store Tools（必要な場合はコメントアウトを外す）
# Assets/AssetStoreTools*

# OS固有ファイル
.DS_Store
Thumbs.db

# VSCode
.vscode/

# ============================
Assets/ExternalAssets/
# ============================